# Ignorar todos los archivos .log
*.log
ve_*/
*.rar
*.venv
*vacunacion
*TPintegrador_archivos_ENTREGA

#Ignorar el directorio node_modules
pruebas libres/
node_modules/

#archivos especificos
package-lock.json
##package.json